<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.greatposterwall.app">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>

    <application
        android:name="com.greatposterwall.GPWApplication"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        tools:replace="android:theme"
        android:theme="@style/AppTheme">
        <activity
            android:name="com.greatposterwall.ui.login.LoginActivity"
            android:label="@string/app_name"
            android:theme="@style/AppNoActionTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
            <meta-data android:name="android.app.shortcuts"
                android:resource="@xml/shortcuts" />
        </activity>

        <activity android:name="net.rdrei.android.dirchooser.DirectoryChooserActivity" />

        <activity
            android:name="ch.redacted.ui.profile.ProfileActivity"
            android:label="@string/profile"
            android:theme="@style/AppNoActionTheme.WithStatusBar">

            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>

                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>

                <data
                    android:host="greatposterwall.com"
                    android:pathPrefix="/user"
                    android:scheme="https"/>
            </intent-filter>
        </activity>

        <activity
            android:name="com.greatposterwall.ui.announcements.AnnouncementActivity">
        </activity>

        <activity
            android:name="com.greatposterwall.ui.forum.category.CategoryActivity">
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>

                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>

                <data
                    android:host="greatposterwall.com"
                    android:pathPrefix="/forums"
                    android:scheme="https"/>
            </intent-filter>
        </activity>

        <activity
            android:name="com.greatposterwall.ui.forum.threadList.ThreadListActivity"/>

        <activity
            android:name="com.greatposterwall.ui.forum.thread.ThreadActivity"
            android:label="@string/forums"
            android:theme="@style/AppNoActionTheme"
            android:windowSoftInputMode="adjustPan"/>

        <activity
            android:name="com.greatposterwall.ui.top10.Top10Activity">
        </activity>

        <activity
            android:name="com.greatposterwall.ui.settings.SettingsActivity">
        </activity>

        <activity
            android:name="com.greatposterwall.ui.release.ReleaseActivity"
            android:label="@string/release"
            android:theme="@style/AppNoActionTheme">
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>

                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>

                <data
                    android:host="greatposterwall.com"
                    android:pathPrefix="/torrents"
                    android:scheme="https"/>
            </intent-filter>
        </activity>

        <activity
            android:name="com.greatposterwall.ui.search.user.UserSearchActivity"/>

        <activity
            android:name="com.greatposterwall.ui.search.request.RequestSearchActivity"/>

        <activity android:name="com.greatposterwall.ui.search.collage.CollageSearchActivity" />

        <activity
            android:name="com.greatposterwall.ui.search.torrent.TorrentSearchActivity"/>

        <activity
            android:name="com.greatposterwall.ui.search.artist.ArtistSearchActivity"/>

        <activity
            android:name="com.greatposterwall.ui.bookmark.BookmarkActivity"/>

        <activity
            android:name="com.greatposterwall.ui.artist.ArtistActivity"
            android:label="@string/artist"
            android:theme="@style/AppNoActionTheme">
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>

                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>

                <data
                    android:host="greatposterwall.com"
                    android:pathPrefix="/artist"
                    android:scheme="https"/>
            </intent-filter>
        </activity>

        <activity
            android:name="com.greatposterwall.ui.request.RequestActivity"
            android:theme="@style/AppNoActionTheme"/>

        <activity android:name="com.greatposterwall.ui.collage.CollageActivity" />

        <activity
            android:name="com.greatposterwall.ui.inbox.InboxActivity">
        </activity>

        <activity
            android:name="com.greatposterwall.ui.reply.ReplyActivity"/>

        <activity
            android:name="com.greatposterwall.ui.inbox.conversation.ConversationActivity">
        </activity>

        <activity
            android:name="com.greatposterwall.ui.subscriptions.SubscriptionsActivity">
        </activity>

        <service
            android:exported="false"
            android:name="com.greatposterwall.data.NotificationService">
            <intent-filter>
                <action android:name="com.firebase.jobdispatcher.ACTION_EXECUTE"/>
            </intent-filter>
        </service>

        <provider
            android:name="com.greatposterwall.util.GenericFileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths"/>
        </provider>

        <meta-data
            android:name="com.greatposterwall.util.GlideConfiguration"
            android:value="GlideModule"/>
    </application>
</manifest>
